@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer base {
  html {
    font-family: "Inter", sans-serif;
  }
  .navbar-color {
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }
}
@layer components {
  .navbar-color {
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }
}

.slick-slide > div {
  margin: 0 0.8rem;
}
.slick-slide > div:hover {
  box-shadow: 2px 2px 6px rgba(66, 66, 66, 0.133);
}
